@use 'sass:meta';
@use 'sass:list';
@use 'sass:string';
@use './strip-slashes' as *;

$separator: '/' !default;

/// Joins all given path segments together.
/// Mimic Node.js path.join.
/// --------
/// @group path
/// --------
/// @param {list} $paths
/// --------
/// @return {string}

@function join($paths...) {
  $length: list.length($paths);
  $result: '';

  @if $length < 1 {
    @return $result;
  }

  @for $i from 1 through $length {
    $path: list.nth($paths, $i);
    $path: strip-slashes($path);

    $result: $result +
      $path +
      if(
        (meta.type-of($path) == string) and
          (string.length($path) > 0) and
          ($i < $length),
        $separator,
        ''
      );
  }

  @return $result;
}
