@use 'sass:math';

/// Returns the factorial of a non-negative integer.
/// --------
/// @group math
/// --------
/// @param {number} $n - a non-negative integer
/// --------
/// @return {number}

@function fact($n) {
  @if $n < 0 or $n != math.floor($n) {
    @warn "#{$n} is not a positive integer for `fact`.";
    @return null;
  }

  $ret: 1;
  @while $n > 0 {
    $ret: $ret * $n;
    $n: $n - 1;
  }

  @return $ret;
}
